@page "/fetch"

<h1>Fetch Data</h1>

@if (Posts == null)
{
    <p class="text-muted">Loading...</p>
}
else
{
    foreach (var post in Posts)
    {
        var key = post.Path;

        <Post Model="post" @key="key" />
    }
}
