
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            @Model.Title
        </h5>

        <h6 class="card-subtitle mb-2 text-muted">
            @Model.Date.ToShortDateString()
        </h6>

        <p class="card-text">
            @Model.Description
        </p>

        <a href="https://moscardino.net/@Model.Path" class="card-link" target="_blank">View</a>
    </div>
</div>

@code {
    [Parameter]
    public Models.Post Model { get; set; }
}